body {
  font-family: 'Roboto', sans-serif;
}
.tutorial {
  width: 600px;
  text-align: center;
  margin: auto;
}

figure.image {
  display: flex;
  justify-content: center;
  background-color: black;
}

figure .image img {
  width: 175px;
}

.notification {
  margin-top: 15px !important;
  padding: 1rem 2.5rem 1rem 1.5rem;
}

.results {
  max-height: 500px;
  overflow-y: scroll;
}

.title .icon {
  margin-left: 15px;
}

.hero {
  margin-bottom: 20px;
}

.forms {
  display: flex;
  justify-content: space-around;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}
.title {
  font-size: 1.8rem;
}
article.awards {
  height: 133px;
}
article.awards .title {
  font-size: 1.5rem;
}
.media {
  min-height: 280px;
}
.hero-body {
  padding: 2rem 1.5rem;
}
.content h1 {
  margin-bottom: 0.4em;
}
.content h4 {
  font-size: 1em;
}
.content p {
  font-size: 14px;
}
#main-app {
  display: block;
}
#placeholder{
  display: none;
}
@media only screen and (max-width: 1023px) {
  #main-app {
    display: none;
  }
  #placeholder{
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
